---
import MainLayout from "../layouts/MainLayout.astro";
import Combobox from "@/components/ComboboxCourses"
export const prerender = false
---

<MainLayout title="Welcome to Astro.">
  <div class="flex items-center justify-center">
    
  </div>
</MainLayout>

@/components/ComboboxCourses